.statistics {
    width: 320px;
    margin: 100px auto;
    background: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.title {
    padding: 25px 10px;
    font-size: 16px;
    color: #555;
    letter-spacing: 1px;
}

.statList {
    display: flex;
    padding: 0;
    margin: 0;
}

.item {
    flex: 1;
    list-style: none;
    padding: 15px 5px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item:nth-child(1) {
    background: #4fc3f7;
}

.item:nth-child(2) {
    background: #a855f7;
}

.item:nth-child(3) {
    background: #ef476f;
}

.item:nth-child(4) {
    background: #2ec4b6;
}

.label {
    font-size: 13px;
    opacity: 0.9;
}

.percentage {
    font-size: 18px;
    font-weight: bold;
}